body {
  margin: 0;
  background: #ffffff;
  font-family: 'IBM Plex Sans Hebrew', sans-serif;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.4;
}

h2 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.4;
}

p {
  font-size: 1rem;
  line-height: 1.4;
}


._framer-body{
  z-index: 1;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  padding: 25px;
}
._internal-framer{
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  z-index: 1;
}