@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Hebrew:wght@300;400;500&family=Outfit:wght@400;500;600;700&display=swap');

@layer components {
  /* New component styles can go here */
  .majorGrid {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 30px;
  }
}
